* {
    margin: 0;
    list-style: none;
    padding: 0;


}

header {
   display: flex;
   justify-content: end;
   padding: 40px;
   background-color: rgb(26, 144, 223);
}


ul {
    display: flex;
    gap: 15px;
}

li a {
    text-decoration: none;
    color: white;
}


.section-01 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 200px;
    background-color: rgb(160, 202, 229);

}

.section-01 h1 {

    font-size: 50px;



}

.section-01 p {
    font-size: 30px;


}

.section-01 button {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    margin-top: 10px;
    color: rgb(7, 206, 90);
    font-size: 20px;
}

.section-01 button:hover {
    transition: 0.7s;
    color: rgb(5, 51, 24);


}

.section-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px;
 
  
    background-color: rgb(198, 198, 243);


}

.div-01 p {
    font-size: 30px;
    margin-bottom: 30px;

}

.div-01 button {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    margin-top: 0px;
    color: rgb(7, 206, 90);
    font-size: 15px;



}

.list-02 img {
    width: 280px;
    margin-bottom: 60px
}